<!doctype html>
<html lang="ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/file-download.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Catalogos_Generator</title>
	</head>
	<body>
		<slot />
	</body>
</html>

